{% extends "layout.html" %}
{% block content %}
<!--Enter Name -->
<header>
  <div class="container">
  <div id="brandname">
    Machine Learning App with Flask
  </div>
  <h2>Spam Detector For SMS Messages</h2>

</div>
</header>

<div class="ml-container">

  <form action="{{ url_for('predict')}}" method="POST">
  <p>Enter Your Message Here</p>
  <!-- <input type="text" name="comment"/> -->
  <textarea name="message" rows="4" cols="50"></textarea>
  <br/>

  <input type="submit" class="btn-info" value="predict">

</form>

</div>
{% endblock %}
